@model Antecedent

@{
    Layout = null;
}

<div>
    <form asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Libelle_a" class="control-label">Nom de l'antécédent :</label>
            <input asp-for="Libelle_a" class="form-control" />
            <span asp-validation-for="Libelle_a" class="text-danger"></span>
        </div> 
        <br/>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
            <input type="submit" value="Enregistrer" class="btn btn-primary"/>
        </div>
    </form>
</div>