@model Allergie   

@{
    Layout=null;
}

<div>
    <form asp-action="Delete" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="AllergieId" />
            <h2>Voulez vous vraiment supprimer l'allergie @Model.Libelle_al ?</h2>
            <br/>
            <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
            <input type="submit" class="btn btn-danger" value="Supprimer"/>
        </div>
    </form>
</div>