@model AP2_MVC_DOTNET.ViewModels.AllergieViewModel

@{
    Layout = null;
}

<div>
    <form asp-action="Edit" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Allergie.AllergieId" />
        <label asp-for="Allergie.Libelle_al" class="control-label">Nom de l'allergie :</label>
        <input asp-for="Allergie.Libelle_al" class="form-control" />
        <span asp-validation-for="Allergie.Libelle_al" class="text-danger"></span>
    </div> 
    <br/>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
        <input type="submit" value="Enregistrer" class="btn btn-primary"/>
    </div>
    </form>
</div>