/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

body {
  margin:0;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
  "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
.bandeau{
  color: black;
  margin-top: 5px;
  margin-left: 20px;
  background: white;
  border-radius: 16px;
  padding: 5px;
  width: 400px !important;
}
h1 {
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
  "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
}
.taro{
  font-size: 40px;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, #007bff 0%, rgba(120, 180, 255, 1) 100%);
  color:white;
}

.inner-header {
  height:10vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
.screen {
  background: rgba(255 255 255 / 100%);
  box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.5);
  border: 1px solid #B1B1B1;
  border-radius: 33px;
  padding: 15px 15px 0px 15px;
  overflow: hidden;
  min-width: 20%;
  margin-bottom: 20px;
  display: grid;
  width:10px;
  height: 10%;
  margin-left: 5%;
  color: black;
  text-align: center;
  margin-top:10px;
}
.screen2 {
  margin-inline-start: auto;
  margin-right: 2rem;
}
.gsb{
  width: 200px;
  height: 200px;
}
@media (max-width: 768px){
  .gsb{
    display: none;
  }
  .screen2{
    margin:2px;
  }
}
ul{
  list-style-type: none;
}
.name_user{
  text-align: left;
  padding-left: 30px;
}
.panneau{
  color: black;
  margin-left: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
  border: 0.5px solid #B1B1B1;
  text-align: center;
  width: 130px;
  cursor: pointer;
}
.active {
  background: #007bff !important;
  color: white !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.navigation{
  margin: 1px;
}
.couleur_texte{
  color: white;
}
.trait {
  color: #007bff;
  opacity: 1;
  margin: 5px;
}
.logo{
  margin-top: 20px;
  margin-left: 14%;
}
.abonnement{
  padding: 20px;
  width: 47%;
}
.btn{
  width: 25%;
  border-radius: 100%;
  justify-self: center;
  margin-left: 37.5%;
  cursor: pointer;
}
.titre{
  text-align: left;
  margin-left: 2%;
}
.footer {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: relative;
  bottom: 0;
  width: 100%;
}
.main {
  flex: 1;
}
